@charset 'utf-8';

.visual {
    position: relative;
    max-width: 192rem;
}

.visual-img {
    height: 70.5rem;
    background: url(../img/main-visual.jpg) no-repeat 0 0 / cover;
}

.visual-text {
    position: absolute;
    bottom: 30rem;
    bottom: 42.5%;
    left: 32rem;
    left: 16.6667vw;
}

.visual-text::before {
    content: "";
    display: block;
    background: url(../img/main-visual-logo.png) no-repeat 0 0 / cover;
    width: 12.5rem;
    height: 3.4rem;
}

.visual-title {
    font-weight: 700;
    font-size: 6.6rem;
    /* font-size: clamp(1.7rem, 4vw, 6.6rem); */
    color: #fff;
}

.sec-title {
    font-weight: 700;
    font-size: 4.7rem;
    color: #000;
    text-align: center;
}

/* 추천상품 */
.products {
    padding-top: 10.7rem;
    padding-bottom: 8rem;
    background: var(--bg-color);
}

.product-con {
    display: grid;
    /* grid-template-columns: 572px 396px 394px; */
    grid-template-columns: 40.85% repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
    margin-top: 6.5rem;
    margin-top: 5.254%;
    /* border: 1px solid #000; */
}

.product-con li {
    position: relative;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.product-con li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
}

.product-con li:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/2;
}

.product-con li:nth-child(1) .product-img {
    aspect-ratio: 1/0.926;
}

.product-con li:nth-child(2) .product-img {
    aspect-ratio: 1/0.241;
}

.product-img {
    aspect-ratio: 1/0.6031;
    /* border-radius: 1.2rem; */
    overflow: hidden;
}

.product-con li:nth-child(1) .product-img {
    background: url(../img/products-1.jpg) no-repeat 0 0 / cover;
}

.product-con li:nth-child(2) .product-img {
    background: url(../img/products-2.jpg) no-repeat 0 0 / cover;
}

.product-con li:nth-child(3) .product-img {
    background: url(../img/products-3.jpg) no-repeat 0 0 / cover;
}

.product-con li:nth-child(4) .product-img {
    background: url(../img/products-4.jpg) no-repeat 0 0 / cover;
}

.product-text {
    /* background: #ff5; */
    padding: 2.2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-con li:nth-child(1) .product-text {
    padding: 4rem 3rem;
}

.product-text strong {
    font-weight: 600;
    font-size: 2.6rem;
    /* font-size: clamp(1.3rem, 1.7vw, 2.6rem); */
    color: #000;
}

.product-con li:nth-child(1) .product-text strong {
    font-size: 2.7rem;
    /* font-size: clamp(1.3rem, 1.7vw, 2.8rem); */
}

.product-text p {
    font-weight: 500;
    font-size: 2.6rem;
    color: var(--gray3-color);
}

.btn-cart {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../img/cart.svg) no-repeat 0 0 / cover;
}

/* 이벤트 */
.event {
    padding-top: 10.7rem;
    padding-bottom: 14.4rem;
}

.event .swiper-wrapper {
    margin-top: 6.5rem;
    display: flex;
    gap: 2rem;
    /* overflow-x: auto; */
}

.event .swiper-scrollbar-drag {
    width: 20% !important;
    background: var(--main-color);
}

.event .swiper-slide {
    width: 45.3rem;
    /* min-height: 60rem; */

    /* flex: 1 1 30%; */
}

.event .swiper-slide figure {
    /* height: 45.3rem; */
    aspect-ratio: 1/1;
}

.event-con-item {
    margin-top: 2.7rem;
}

.event-con-item p {
    font-weight: 600;
    font-size: 2.5rem;
    font-size: clamp(1.6rem, 1.65vw, 2.5rem);
    color: var(--gray2-color);
}

.event-con-item p + p {
    font-size: 2rem;
    font-size: clamp(1.4rem, 1.45vw, 2rem);
}

.event-con-item strong {
    margin-top: 0.8rem;
    font-weight: 700;
    font-size: 3.5rem;
    font-size: clamp(2rem, 2.26vw, 3.5rem);
    color: var(--main-color);
}

/* 브랜드 스토리 */
.brand-story {
    padding-top: 11.4rem;
    padding-bottom: 32.7rem;
    background: var(--bg-color);
}

.brand-story-item {
    margin-top: 10rem;
    /* height: 65.8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.brand-story-item figure {
    /* width: 50%; */
    flex: 1 1 50%;
    aspect-ratio: 1/1.086;
}

.brand-story-item:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.brand-story-item dl {
    /* width: 45%; */
    flex: 1 1 45%;
    /* border: 1px solid #000; */
}

.brand-story-item dl dt {
    font-weight: 600;
    font-size: 4.5rem;
    /* font-size: clamp(2rem, 2.8vw, 4.5rem); */
    color: var(--main-color);
}

.brand-story-item dl dd {
    margin-top: 3rem;
    margin-top: 5.535%;
    font-weight: 300;
    font-size: 2.5rem;
    /* font-size: clamp(1.1rem, 1.6vw, 2.5rem); */
    color: #000;
}

/* 매장찾기 */
.store {
    padding-top: 10.7rem;
    padding-top: 7.787%;
}

.store .swiper-slide {
    border: 2px solid var(--main-color);
    border-radius: 5.23rem;
    margin: 13.5px;
    color: #000;
    width: 16.5rem;
    height: 4.7rem;

    display: inline-block;
    transition: 0.4s;
}

.store .swiper-slide:hover {
    background: var(--main-color);
    color: #fff;
}

.store .swiper-slide.active {
    background: var(--main-color);
    color: #fff;
}

.store .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    padding: 0.85rem 4rem;
}

.store-text {
    margin-top: 7.2rem;
    margin-top: 5.82%;
    display: flex;
    align-items: center;
    gap: 5%;
}

.store-text figure {
    /* width: 688px;
    width: 76.9575%; */

    flex: 1 1 50%;
    aspect-ratio: 1/1.152;
}

.store-con-text {
    /* width: 76.9575%; */
    /* background: #5f5; */
    flex: 1 1 45%;
    width: 100%;
}

.store-con dl:before {
    content: "";
    display: block;
    background: url(../img/map.svg) no-repeat 0 0 / cover;
    width: 5.8rem;
    width: 11%;
    /* height: 7.4rem; */
    aspect-ratio: 1/1.275;
}

.store-con dl dt {
    font-weight: 600;
    font-size: 4.5rem;
    color: var(--main-color);
    margin-top: 4rem;
    margin-top: 6.9%;
}

.store-con dl dd {
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-top: 3.45%;
}

.store-btn {
    margin-top: 9rem;
    margin-top: 15.5%;
    background: var(--main-color);
    border-radius: 70px;
    width: 15.2rem;
    height: 5.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    transition: 0.4s;
}

.store-btn:hover {
    background: #fff;
    color: var(--main-color);
    border: 3px solid var(--main-color);
    font-weight: 700;
}

.rwd-scrollbar {
    width: 100%;
    height: 5px;
    background: var(--gray1-color);
    margin-top: 30px;
}

/* 반응형 */

@media (max-width: 1024px) {
    .visual-img {
        height: 43.8rem;
        background: url(../img/main-visual-tablet.jpg) no-repeat 0 0 / cover;
    }

    .visual-title {
        font-size: 4rem;
    }

    .sec-title {
        font-size: 3.7rem;
    }

    .products {
        padding: 6.7rem 0 4.1rem;
    }

    .product-con {
        display: flex;
        overflow-x: auto;
    }

    .product-con li {
        width: 52.6rem;
        width: 57.11%;
        flex-shrink: 0;
    }

    .product-text {
        padding: 4rem 3rem;
    }

    .product-text strong {
        font-size: 2.5rem;
    }

    .product-con li:nth-child(1) .product-text strong {
        font-size: 2.4rem;
    }

    .product-con li .product-img {
        aspect-ratio: 1/0.9277;
    }

    .product-con li:nth-child(1) .product-img {
        aspect-ratio: 1/0.9277;
    }

    .product-con li:nth-child(2) .product-img {
        aspect-ratio: 1/0.9277;
    }

    .product-con li:nth-child(2) .product-img {
        background: url(../img/products-tab-2.jpg) no-repeat 0 0 / cover;
    }

    .product-con li:nth-child(3) .product-img {
        background: url(../img/products-tab-3.jpg) no-repeat 0 0 / cover;
    }

    .product-con li:nth-child(4) .product-img {
        background: url(../img/products-tab-4.jpg) no-repeat 0 0 / cover;
    }

    .event .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .event .swiper-slide {
        flex: none;
        width: 446px;
        width: 49.9%;
        height: auto;
    }

    .brand-story {
        padding-bottom: 5.5rem;
    }

    .brand-story-item dl dt {
        font-size: 3.3rem;
    }

    .brand-story-item dl dd {
        font-size: 2rem;
    }

    .store-sub {
        padding: 0;
    }

    .store-text dl dt {
        font-size: 3.5rem;
    }

    .store-text dl dd {
        font-size: 2rem;
    }
}

@media (min-width: 1100px) {
    .bottom-slider .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .store-sub {
        display: flex;
        overflow-x: auto;
    }

    .store-sub li a {
        padding: 0.7rem 4rem;
    }

    .store-text {
        display: flex;
        flex-direction: column;
    }

    .store-con-text {
        margin-top: 3rem;
    }
}

@media (max-width: 430px) {
    .visual-img {
        height: 19rem;
        background: url(../img/main-visual-mobile.jpg) no-repeat 0 0 / cover;
    }

    .visual-title {
        font-size: 2.4rem;
    }

    .visual-text {
        bottom: 31.5%;
        left: 9.6667vw;
    }

    .visual-text::before {
        width: 8.1rem;
        height: 2.2rem;
    }

    .sec-title {
        font-size: 3rem;
    }

    .products {
        padding: 3rem 0 4.1rem;
    }

    .product-con li:nth-child(1) .product-text {
        padding: 1.6rem 1rem;
    }

    .product-con li .product-text {
        padding: 1.6rem 1rem;
    }

    .product-text strong {
        font-size: 1.6rem;
    }

    .product-con li:nth-child(1) .product-text strong {
        font-size: 1.6rem;
    }

    .product-text p {
        font-size: 1.6rem;
    }

    .btn-cart {
        width: 1.6rem;
        height: 1.6rem;
    }

    .event {
        padding: 1.5rem 0 6.6rem;
    }

    .brand-story {
        padding-top: 2rem;
    }

    .brand-story-item {
        flex-direction: column !important;
    }

    .brand-story-item dl {
        margin-top: 3rem;
    }

    .store-sub {
        display: flex;
        overflow-x: auto;
    }

    .store-sub li {
        margin: 0.5rem;
        border: 1px solid var(--main-color);
    }
}
